<h1>Make your form here</h1>
<form action="/pirates" method="post">
  Pirate Name: <input type="text" name="pirate[name]" >
  Pirate Height: <input type="text" name="pirate[height]" >
  Pirate Weight: <input type="text" name="pirate[weight]" >
  Ship Name: <input type="text" name="pirate[ships][][name]" >
  Ship Type: <input type="text" name="pirate[ships][][type]" >
  Ship Booty: <input type="text" name="pirate[ships][][booty]" >
  Ship Name: <input type="text" name="pirate[ships][][name]" >
  Ship Type: <input type="text" name="pirate[ships][][type]" >
  Ship Booty: <input type="text" name="pirate[ships][][booty]" >
  <input type="submit">
</form>

<!--
<form action="/student" method="post">
  Student Name: <input type="text" name="student[name]">
  Student Grade: <input type="text" name="student[grade]">
  Course Name: <input type="text" name="student[courses][][name]">
  Course Topic: <input type="text" name="student[courses][][topic]">
  Course Name: <input type="text" name="student[courses][][name]">
  Course Topic: <input type="text" name="student[courses][][topic]">
  <input type="submit">
</form> -->
